.sidemenu-container {
    position: sticky;
    top: 70px; /* Adjust to match your header height */
    height: 'calc(100vh - 70px)'; /* Adjust height as needed */
    transition: 'transform 0.3s ease-in-out';
    display: "${isSticky ? "block" : "none"}"; /* Hide sidebar when not sticky */
  }

.headerImg {
    grid-area: headerImg;
}

.header {
    grid-area: header;
    background-color: ghostwhite;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo-image {
    max-height: 100%;
    /* La imagen ocupa todo el espacio del header */
    margin-right: 10px;
    /* Espacio entre la imagen y el texto del logo */
}


.nav span {
    font-size: small;
}

.nav {
    grid-area: nav;
    background-color: cornsilk;
}

.main {
    background-color: #D8D9DA;
    grid-area: main;
}